@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");


:root {
	--cor-de-borda: #e3e5e4;
	--cor-de-fundo: #c3c7ca;
	--cor-de-texto: #34444f;
}

*{
	box-sizing: border-box;
}
body{
	background-color: #fff;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	height: 100vh;
	margin: 0;
	font-family: "Lato", sans-serif;
}
.lista-ordenavel {
	border: 1px solid var(--cor-de-borda);
	color: var(--cor-de-texto);
	padding: 0;
	list-style-type: none;
}
.lista-ordenavel li{
	background-color: #fff;
	display: flex;
	flex: 1;
}
.lista-ordenavel li:not(:last-of-type){
	border-bottom: 1px solid var(--cor-de-borda);
}

.lista-ordenavel .numero {
	background-color: var(--cor-de-fundo);
	display: flex;
	align-items: center;
	justify-content:center;
	font-size: 28px;
	height: 60px;
	width: 60px;
}

.lista-ordenavel li.em-cima .arrastavel {
	background-color: #eaeaea;

}

.lista-ordenavel .nome-pais {
	margin: 0 20px 0 0;
}

.lista-ordenavel li.correto .nome-pais {
	color: #3ae374;
}
.lista-ordenavel li.incorreto .nome-pais {
	color: #ff3838;
}

.arrastavel {
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 15px;
	flex: 1;
}

.botao-checar {
	background-color: var(--cor-de-fundo);
	border: none;
	color: var(--cor-de-texto);
	font-size: 16px;
	padding: 10px;
	cursor: pointer;
}

.botao-checar:active {
	transform: scale(0.98d);
}

.botao-checar:focus {
	outline: none;
}

