body {
  background-color: #121212;
  color: #00ffcc;
  font-family: "Courier New", Courier, monospace;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

#clock-container {
  text-align: center;
}

#clock {
  font-size: 5rem;
  letter-spacing: 5px;
}
